.color-base {
  color: #0b253c;
}

.color-commpany {
  color: #1b7f6d;
}

.color-white {
  color: #fff;
}

.color-blue {
  color: #00a3ff;
}

.color-alice-blue {
  color: #edf4fb;
}

.color-alice-blue-light {
  color: #f5f7fb;
}

.color-purple {
  color: #7360f2;
}

.color-light-green {
  color: #5bd63d;
}

.color-grey {
  color: #8c9aab;
}

.color-bunker {
  color: #292d32;
}

.bg-commpany {
  background-color: #1b7f6d;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: #ff8c00;
}

.bg-blue {
  background-color: #183855;
}

.bg-alice-blue {
  background-color: #edf4fb;
}

.bg-alice-blue-light {
  background-color: #f5f7fb;
}

.bg-base {
  background-color: #0b253c;
}

.bg-base-gradient {
  background: linear-gradient(280.7deg, #0b253c 43.59%, #183855 80.06%);
}

.bg-bunker {
  background-color: #292d32;
}
