.social {
  &__link {
    img {
      opacity: 0.5;
      width: 15px;
      height: 15px;
      object-fit: contain;
      object-position: center;
      transition: opacity 0.3s ease;
    }

    &:not(:nth-of-type(1)) {
      margin-left: 30px;
    }

    &:hover {
      opacity: 1;

      img {
        opacity: 1;
      }
    }
  }
}
